
{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="account-page">
  <div class="sl-page">
    <div>
      <h1>{% trans "Sign Out" %}</h1>
    </div>

    <div class="form-container">
        <div>
          <span>Log Out</span>
          <hr id="indicator" />
        </div>
        <form id="RegForm" method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <p>{% trans 'Are you sure you want to sign out?' %}</p>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="btn" type="submit">{% trans 'Log Out' %}</button>
        </form>
    </div>
  </div>
</div>


{% endblock %}
