{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class="account-page">
        <div class="sl-page">
          <div>
            <h1>{% trans "Change Password" %}</h1>
          </div>
      
          <div class="form-container">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn" type="submit" name="action">{% trans "Change Password" %}</button>
                <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
          </div>
        </div>
    </div>
{% endblock %}
