{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="account-page">
        <div class="sl-page">
          <div>
            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
          </div>
      
          <div class="form-container">
              <div>
                <span>Sign-Up</span>
                <hr id="indicator" />
              </div>
              <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn" type="submit" value="{% trans 'Reset My Password' %}" />
            </form>
          </div>

          <div>
            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
          </div>
        </div>
    </div>
{% endblock %}
