{% load static %}
{% load cart_template_tag %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Red store | Ecommerce Website Design</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="navbar">
          <div class="logo">
            <a href="{% url 'base:home' %}">
              <img src="{% static 'images/logo.png' %}" alt="" width="125px"/>
            </a>
          </div>
          <nav>
            <ul id="MenuItems">
              <li><a href="{% url 'base:home' %}">Home</a></li>
              <li><a href="{% url 'base:products' %}">Products</a></li>
              <li><a href="{% url 'base:about' %}">About</a></li>
              <li><a href="#">Contact</a></li>
              {% if user.is_authenticated %}
              <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
              {% else %}
              <li><a href="{% url 'base:login' %}">Sig In</a></li>
              <li><a href="{% url 'base:signup' %}">Sign-Up</a></li>
              {% endif %}
              <!-- TODo: 22:20 -->
            </ul>
          </nav>
          {% if user.is_authenticated %}
          <a href="{% url 'base:profile' %}">
          </a>
          <a href="{% url 'base:cart' %}">
            <span class="fa fa-shopping-cart" style="font-size:24px;">{{ user | cart_item_count }}</span>
          </a>
          {% endif %}
          <img
            src="{% static 'images/menu.png' %}"
            alt="Menu"
            class="menu-icon"
            onclick="menutoggle()"
          />
        </div>
      </div>
    </div>
    <!--messages-->
    <div class="mt-1 pt-2">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
      {% endif %}
    </div>

    {% block content %}
    <!----- Featurd Categories-------->
    <div class="categories">
      <div class="small-container">
        <div class="row">
          <div class="col-3">
            <img src="{% static 'images/category-1.jpg' %}" alt="" />
          </div>
          <div class="col-3">
            <img src="{% static 'images/category-2.jpg' %}" alt="" />
          </div>
          <div class="col-3">
            <img src="{% static 'images/category-3.jpg' %}" alt="" />
          </div>
        </div>
        <div  class="row">
          <a href="" class="btn">Explore Now &#8594;</a>
        </div>
      </div>
    </div>
    
    <div class="small-container">
      <!----- Featurd Products-------->
      <h2 class="title">Featured Products</h2>

      <div class="row">
        <div class="col-4">
          <a href="#">
            <img src="{% static 'images/product-1.jpg' %}" alt=""/>
          </a>
          <h4>Red Printed T-shirt</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>$50.00</p>
        </div>

        <div class="col-4">
          <img src="{% static 'images/product-8.jpg' %}" alt="" />
          <h4>Red Printed T-shirt</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>$50.00</p>
        </div>

        <div class="col-4">
          <img src="{% static 'images/product-3.jpg' %}" alt="" />
          <h4>Red Printed T-shirt</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <p>$50.00</p>
        </div>
        <div class="col-4">
          <img src="{% static 'images/product-4.jpg' %}" alt="" />
          <h4>Red Printed T-shirt</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>$50.00</p>
        </div>
      </div>

      <!----- Latest Products-------->
      <h2 class="title">Latest Products</h2>

      <div class="row">
        {% for item in object_list %}
        <div class="col-4">
          <div>
            <a href="{{ item.get_absolute_url }}">
              <img src="{{  item.photo.url }}" alt="" />
              <h4>{{  item.title }}</h4>
            </a>
            <a href="{{ item.get_absolute_url }}" >
              <h6>{{ item.get_category_display }}</h6>
            </a>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>

          <p class='lead'>
            {% if item.d_price %}
            <del><span>${{ item.price }}</span></del>
            <span>${{ item.d_price }}</span>
            {% else %}
            <p>${{ item.price }}</p>
            {% endif %}
          </p>
        </div>
        {% endfor %}

      </div>
    </div>

    <!-------- Offer -------->
    <div class="offer">
      <div class="small-container">
        <div class="row">
          <div class="col-2">
            <img src="images/exclusive.png" class="offer-img" alt="" />
          </div>
          <div class="col-2">
            <p>Exclusively available on RedStore</p>
            <h1>Smart Band 4</h1>
            <small
              >Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Excepturi rerum maiores eveniet minus ut deserunt vitae
            </small>
            <a href="" class="btn">Buy Now &#8594;</a>
          </div>
        </div>
      </div>
    </div>

    <!------ Testimonial  ------>
    <div class="testimonial">
      <div class="small-container">
        <div class="row">

          <div class="col-3">
            <i class="fa fa-quote-left"></i>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, esse
              quae ex sequi praesentium fuga voluptatem placeat voluptates odio
              rerum.
            </p>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <img src="{% static 'images/user-1.png' %}" alt="" />
            <h3>Sean Parker</h3>
          </div>

          <div class="col-3">
            <i class="fa fa-quote-left"></i>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, esse
              quae ex sequi praesentium fuga voluptatem placeat voluptates odio
              rerum.
            </p>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <img src="images/user-2.png" alt="" />
            <h3>Michel Joe</h3>
          </div>

          <div class="col-3">
            <i class="fa fa-quote-left"></i>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, esse
              quae ex sequi praesentium fuga voluptatem placeat voluptates odio
              rerum.
            </p>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <img src="images/user-3.png" alt="" />
            <h3>Kaily Jenner</h3>
          </div>

        </div>
      </div>
    </div>

    <!-- Brands -->

    <div class="brands">
      <div class="small-container">
        <div class="row">
          <div class="col-5">
            <img src="{% static 'images/logo-godrej.png' %}" alt="" />
          </div>
          <div class="col-5">
            <img src="{% static 'images/logo-oppo.png' %}" alt="" />
          </div>
          <div class="col-5">
            <img src="{% static 'images/logo-paypal.png' %}" alt="" />
          </div>
          <div class="col-5">
            <img src="{% static 'images/logo-philips.png' %}" alt="" />
          </div>
          <div class="col-5">
            <img src="{% static 'images/logo-coca-cola.png' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}

    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col-1">
            <h3>Download Our App</h3>
            <p>
              Download App for Android <br />
              and ios mobile phone
            </p>
            <div class="app-logo">
              <img src="{% static 'images/play-store.png' %}" alt="" />
              <img src="{% static 'images/app-store.png' %}" alt="" />
            </div>
          </div>
          <div class="footer-col-2">
            <img src="{% static 'images/logo-white.png' %}" alt="" />
            <p>
              Lorem, ipsum dolor sit amet consectetur <br />adipisicing elit.
              Porro, eum?
            </p>
          </div>
          <div class="footer-col-3">
            <h3>Useful Links</h3>
            <ul>
              <li>Coupons</li>
              <li>Blog Post</li>
              <li>Return Policy</li>
              <li>Join Affiliate</li>
            </ul>
          </div>
          <div class="footer-col-4">
            <h3>Follow us</h3>
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Instagram</li>
              <li>YouTube</li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="copyright">Copyright 2020 - introidx</p>
      </div>
    </div>
    <!-- JS for Toggle menu -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      var MenuItems = document.getElementById("MenuItems");

      MenuItems.style.maxHeight = "0px";

      function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {
          MenuItems.style.maxHeight = "200px";
        } else {
          MenuItems.style.maxHeight = "0px";
        }
      }
    </script>
  </body>
</html>
